<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="basicHTTP" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="nettcp1">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
          <customBinding>
            <binding name="NoKeepAlive">
              <textMessageEncoding messageVersion="Soap11" />
              <httpsTransport keepAliveEnabled="false" />
            </binding>
          </customBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://chetbaker/integrationtests/IntegrationTestsService.svc"
                binding="netTcpBinding" bindingConfiguration="nettcp1" contract="IntegrationTestsService.IIntegrationTestsService"
                name="nettcp1" />
            <endpoint address="http://localhost/integrationtests/IntegrationTestsService.svc"
                binding="basicHttpBinding" bindingConfiguration="basicHTTP"
                contract="IntegrationTestsService.IIntegrationTestsService"
                name="basicHTTP" />
          <endpoint address="http://localhost/integrationtests/IntegrationTestsService.svc"
              binding="customBinding" bindingConfiguration="NoKeepAlive"
              contract="IntegrationTestsService.IIntegrationTestsService"
              name="NoKeepAlive" />          
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
