<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnString" value="server=localhost;Initial Catalog=IntegrationTests;user=sa;pwd=123456abc@"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="nettcp1" closeTimeout="00:10:00" maxReceivedMessageSize="65536000" transferMode="Buffered">
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </netTcpBinding>
	  <customBinding>
		<binding name="NoKeepAlive">
		  <textMessageEncoding messageVersion="Soap11" />
		  <httpTransport keepAliveEnabled="false" />
		</binding>
	  </customBinding>	  
    </bindings>
    <services>
      <service name="IntegrationTests.WCFServiceApp.IntegrationTestsService">
        <endpoint binding="netTcpBinding" bindingConfiguration="nettcp1" name="nettcp1" contract="IntegrationTests.WCFServiceApp.IIntegrationTestsService"/>
        <endpoint binding="basicHttpBinding" bindingConfiguration="" name="basicHTTP" contract="IntegrationTests.WCFServiceApp.IIntegrationTestsService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>